*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $color-primary-dark;
}

a:hover {
  color: $color-primary;
}

input,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
}
