.post {
  grid-column: 6;
  @media (min-width: 1000px) {
    grid-column: 5/9;
  }
  padding: 2rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
  &__title {
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__img-container {
    height: auto;
    border: 2px white solid;
  }
}

img {
  width: 200px;
}
